.all-products {
  display: flex;
  margin-top: 67px;
}
.content {
  width: 75%;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .content {
    width: 60%;
  }
}
